@model IEnumerable<ExpenseTracker.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionText"] = "+ New Category";
    ViewData["PageActionUrl"] = "Category/Create";
}

<div class="row col-md-10">
<div class="table-responsive">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameAndIcon)
            </td>
             <td>
                 <span class="px-2 py-1 rounded" style="@(item.Type == "Expense" ? "Background-color:#DC143C" : "Background-color:#228B22")">
                    @Html.DisplayFor(modelItem => item.Type)
                </span>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId"><i class="bi bi-pencil-square mx-2" style="color:white"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId"><i class="bi bi-trash3-fill" style="color:darkred"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
